main {
  padding-block: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

main img {
  width: 286px;
  height: 286px;
  object-fit: cover;
}


@media (width < 696px) {
  main {
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1rem;
  }
}